* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    text-align: center;
    background-color: #c956b6da;
    color: white;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero .cta {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: #af50c7;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.hero .cta:hover {
    background-color: #ca5fce;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: rgb(240, 211, 232);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin-top: 15px;
    font-size: 24px;
}

.product-card p {
    margin: 10px 0;
    font-size: 20px;
}

.product-card .add-to-cart {
    padding: 10px 20px;
    background-color: #9b1489;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.product-card .add-to-cart:hover {
    background-color: #ca4483;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
